In [7]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\hpalm\Downloads\inqui4.csv",sep=';')
df.fillna(0, inplace=True)

In [39]:
# Method 2: Delete multiple columns by label
#columns_to_delete = ['All Dry Services of Dallas (manual credit billing)', 'Best Option Restoration of North Houston','Rainy Day Restoration']
#df = df.drop(columns_to_delete, axis=1)

In [9]:
df

         A        B
0    90620  90210.0
1    90621  90211.0
2    90622  90212.0
3    90623  90035.0
4    90624  90027.0
..     ...      ...
141  92871      0.0
142  92885      0.0
143  92886      0.0
144  92887      0.0
145  92899      0.0

[146 rows x 2 columns]

In [5]:
df=df.drop(columns='B')

In [5]:
import pandas as pd

def find_duplicates_in_other_classes(df, class_index):
    # Get the column name of the selected class
    selected_class_col = df.columns[class_index]
    
    # Initialize a dictionary to store duplicated values and their occurrences
    duplicated_data = {'Duplicated Values': [], 'Count': [], 'Companies overlapping': []}
    
    # Loop through each value in the selected class
    for _, row in df.iterrows():
        value = row[selected_class_col]
        
        # Initialize variables to track the number of occurrences and the columns where the value is duplicated
        count = 0
        columns_found = []
        
        # Loop through each column in the dataset except the selected class
        for col in df.columns:
            if col != selected_class_col:
                # Check if the value is duplicated in the current class
                if value in df[col].values:
                    count += 1
                    columns_found.append(col)
        
        # If the value is duplicated in any other class, add it to the dictionary
        if count > 0:
            duplicated_data['Duplicated Values'].append(value)
            duplicated_data['Count'].append(count)
            duplicated_data['Companies overlapping'].append(', '.join(columns_found))
    
    # Convert the dictionary to a pandas DataFrame
    df_duplicated_values = pd.DataFrame(duplicated_data)
    
    return df_duplicated_values

In [6]:
import pandas as pd

# Replace 2 with the index of the class you want to check
class_index = 0

df_duplicated_values = find_duplicates_in_other_classes(df, class_index)

# Remove rows with a 0 value in the 'Duplicated Values' column
df_duplicated_values = df_duplicated_values[df_duplicated_values['Duplicated Values'] != 0]

# Export the DataFrame to a CSV file
output_file = "duplicated_values.csv"
df_duplicated_values.to_csv(output_file, index=False)

print(df_duplicated_values)

Empty DataFrame
Columns: [Duplicated Values, Count, Companies overlapping]
Index: []