In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r'c:\Users\hpalm\Downloads\Libro1.csv',sep=';')
df.fillna(0, inplace=True)

In [5]:
df

,All Dry Services of North Austin,Flood restoration services LLC,Advanced American Restoration,Best Option Restoration of Travis County,All Dry Services of North Central TX
0,78626.0,73301,78626.0,73301.0,75101.0
1,78660.0,73344,78660.0,73344.0,75102.0
2,78664.0,76511,78664.0,76574.0,75105.0
3,78665.0,76523,78665.0,78610.0,75109.0
4,78681.0,76527,78681.0,78613.0,75110.0
...,...,...,...,...,...
137,0.0,78783,0.0,0.0,0.0
138,0.0,78799,0.0,0.0,0.0
139,0.0,78947,0.0,0.0,0.0
140,0.0,78953,0.0,0.0,0.0
141,0.0,78957,0.0,0.0,0.0

In [6]:
import pandas as pd

def find_duplicates_in_other_classes(df, class_index):
    # Get the column name of the selected class
    selected_class_col = df.columns[class_index]
    
    # Initialize a dictionary to store duplicated values and their occurrences
    duplicated_data = {'Duplicated Values': [], 'Count': [], 'Columns Found': []}
    
    # Loop through each value in the selected class
    for _, row in df.iterrows():
        value = row[selected_class_col]
        
        # Initialize variables to track the number of occurrences and the columns where the value is duplicated
        count = 0
        columns_found = []
        
        # Loop through each column in the dataset except the selected class
        for col in df.columns:
            if col != selected_class_col:
                # Check if the value is duplicated in the current class
                if value in df[col].values:
                    count += 1
                    columns_found.append(col)
        
        # If the value is duplicated in any other class, add it to the dictionary
        if count > 0:
            duplicated_data['Duplicated Values'].append(value)
            duplicated_data['Count'].append(count)
            duplicated_data['Columns Found'].append(', '.join(columns_found))
    
    # Convert the dictionary to a pandas DataFrame
    df_duplicated_values = pd.DataFrame(duplicated_data)
    
    return df_duplicated_values

In [9]:
import pandas as pd

# Replace 2 with the index of the class you want to check
class_index = 2

df_duplicated_values = find_duplicates_in_other_classes(df, class_index)

# Export the DataFrame to a CSV file
output_file = "duplicated_values.csv"
df_duplicated_values.to_csv(output_file, index=False)

print(df_duplicated_values)

     Duplicated Values  Count  \
0              78626.0      4
1              78660.0      3
2              78664.0      4
3              78665.0      4
4              78681.0      4
..                 ...    ...
137                0.0      3
138                0.0      3
139                0.0      3
140                0.0      3
141                0.0      3

                                         Columns Found
0    All Dry Services of North Austin, Flood restor...
1    All Dry Services of North Austin, Flood restor...
2    All Dry Services of North Austin, Flood restor...
3    All Dry Services of North Austin, Flood restor...
4    All Dry Services of North Austin, Flood restor...
..                                                 ...
137  All Dry Services of North Austin, Best Option ...
138  All Dry Services of North Austin, Best Option ...
139  All Dry Services of North Austin, Best Option ...
140  All Dry Services of North Austin, Best Option ...
141  All Dry Services of North Austin, Best Option ...

[142 rows x 3 columns]