In [47]:
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv(r'c:\Users\hpalm\Downloads\Libro1.csv',sep=';')
df.fillna(0, inplace=True)

In [53]:
df

,All Dry Services of North Austin,Flood restoration services LLC,Advanced American Restoration,Best Option Restoration of Travis County,All Dry Services of North Central TX
0,78626.0,73301,78626.0,73301.0,75101.0
1,78660.0,73344,78660.0,73344.0,75102.0
2,78664.0,76511,78664.0,76574.0,75105.0
3,78665.0,76523,78665.0,78610.0,75109.0
4,78681.0,76527,78681.0,78613.0,75110.0
...,...,...,...,...,...
137,0.0,78783,0.0,0.0,0.0
138,0.0,78799,0.0,0.0,0.0
139,0.0,78947,0.0,0.0,0.0
140,0.0,78953,0.0,0.0,0.0
141,0.0,78957,0.0,0.0,0.0

In [23]:
import pandas as pd

def find_duplicates_in_other_classes(df, class_index):
    # Get the column name of the selected class
    selected_class_col = df.columns[class_index]
    
    # Initialize a list to store duplicated values
    duplicated_values = []
    
    # Loop through each value in the selected class
    for _, row in df.iterrows():
        value = row[selected_class_col]
        
        # Initialize a variable to track if the value is duplicated in other classes
        is_duplicated = False
        
        # Loop through each column in the dataset except the selected class
        for col in df.columns:
            if col != selected_class_col:
                # Check if the value is duplicated in the current class
                if value in df[col].values:
                    is_duplicated = True
                    break
        
        # If the value is duplicated in any other class, append it to the list
        if is_duplicated:
            duplicated_values.append(value)
    
    return duplicated_values

In [50]:
import pandas as pd


# 1 - 2 - 3 - 4 - 5 - 6 -7

class_index = 4

duplicated_values = find_duplicates_in_other_classes(df, class_index)
print("Duplicated values in other classes:", duplicated_values)

Duplicated values in other classes: [77301.0, 77302.0, 77303.0, 77304.0, 77305.0, 77306.0, 77316.0, 77318.0, 77333.0, 77353.0, 77354.0, 77356.0, 77362.0, 77378.0, 77380.0, 77381.0, 77382.0, 77384.0, 77385.0, 77386.0, 77387.0, 77393.0, 77301.0, 77302.0, 77303.0, 77304.0, 77306.0, 77318.0, 77320.0, 77340.0, 77341.0, 77342.0, 77354.0, 77373.0, 77375.0, 77377.0, 77378.0, 77379.0, 77380.0, 77381.0, 77382.0, 77384.0, 77385.0, 77386.0, 77388.0, 77389.0, 77358.0, 77378.0, 77303.0, 77306.0, 77302.0, 77385.0, 77328.0, 77372.0, 77365.0, 77357.0, 77386.0, 77014.0, 77032.0, 77060.0, 77064.0, 77065.0, 77066.0, 77067.0, 77068.0, 77069.0, 77070.0, 77073.0, 77090.0, 77205.0, 77238.0, 77267.0, 77268.0, 77269.0, 77273.0, 77290.0, 77301.0, 77302.0, 77303.0, 77304.0, 77305.0, 77306.0, 77315.0, 77316.0, 77318.0, 77325.0, 77333.0, 77337.0, 77338.0, 77339.0, 77340.0, 77341.0, 77342.0, 77343.0, 77344.0, 77345.0, 77347.0, 77348.0, 77349.0, 77353.0, 77354.0, 77355.0, 77356.0, 77357.0, 77358.0, 77362.0, 77363.0, 77365.0, 77372.0, 77373.0, 77375.0, 77377.0, 77378.0, 77379.0, 77380.0, 77381.0, 77382.0, 77383.0, 77384.0, 77385.0, 77386.0, 77387.0, 77388.0, 77389.0, 77391.0, 77393.0, 77410.0, 77429.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [51]:
# Export the duplicated_values to a CSV file
output_file = "duplicated_values.csv"
df_duplicated_values = pd.DataFrame(duplicated_values, columns=['Duplicated Values'])
df_duplicated_values.to_csv(output_file, index=False)